<!DOCTYPE html>
{% load static %}
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#222222">
    {% block meta %}
    {% endblock meta %}
    <title>
      {% block title %}
        Gamelist
      {% endblock title %}
    </title>
    <link rel="shortcut icon" href="https://excelagency.pythonanywhere.com/static/core/img/logo.svg">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    {% block links %}
    {% endblock links %}
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    {% include 'core/snippets/_footer.html' %}
  </body>
</html>
