{% extends 'core/base.html' %}

{% block title %}
  {{ object.title }}
{% endblock title %}

{% block content %}
  <main>
    <a href="/" rel="prev">Back</a>
    <div class="object">
      <img src="{{ object.cover.url }}" alt="{{ object.title }} cover">
      <div class="details">
        <h1>{{ object.title }}</h1>
        <p>
          {{ object.description }}
        </p>
        <p>
          Played on: {{ object.platform }}
        </p>
        <a class="btn" href="/" rel="prev">Back</a>
      </div>
    </div>
  </main>
{% endblock content %}
