{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<main>
  <h1>Last games played</h1>
  <div class="container">
    {% for instance in queryset %}
      <div class="card">
        <a href="{{ instance.get_absolute_url }}" rel="next">
          <img src="{{ instance.cover.url }}" alt="{{ instance.title }}">
          <h2>
            {{ instance.title }}
          </h2>
        </a>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock content %}
