@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #282828;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
}

.object {
  display: flex;
  margin: 2% 10%;
  justify-content: center;
  gap: 4%;
}

.object > img {
  width: 60%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.details > p {
  text-align: justify;
}

a {
  color: white;
}

table {
  width: 80%;
  align-items: center;
  margin: 2% auto;
  border: 1px solid black;
}

thead, tbody {
  margin: 1%;
}

th {
  background-color: yellow;
}

th {
  background-color: #285872;
}

thead > tr, th, td {
  width: 29%;
  height: 8%;
  margin: 2% 5%;
  padding: 2%;
}

tbody > td {
  padding: 10px;
  margin-left: 5px;
}

tr:nth-child(odd) {
  background-color: #353535;
}

.btn {
  background-color: #184528;
  border-radius: 8px;
  padding: 1% 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 3%;
}

main {
  flex: 1;
}

footer {
  display: flex;
}

footer > p {
  color: white;
  margin: 2% 2% 2% 10%;
}

footer > a {
  margin: 2% 2% 2% 0;
}

.container {
  margin: 2% 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8%;
}

.card {
  margin: 1% auto;
  max-width: 28%;
}

.card > a > img {
  width: 80%;
}

@media (max-width: 680px) {
  .object {
    flex-direction: column;
  }

  .card {
    max-width: 80%;
  }

  .object > img {
    margin: 0 auto;
  }
}
