<footer>
  <p>
    2024 | Website developed for studies only.<br>
    development by
  </p>
    <a href="https://excelagency.pythonanywhere.com/?utm_source=website-footer&utm_medium=referral&utm_campaign=neon-site">
      <img src="https://excelagency.pythonanywhere.com/static/core/img/logo.svg" height="40" width="40" alt="Excel Agency logo.">
    </a>
</footer>
